@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Cinzel:wght@400..900&family=Faster+One&family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merienda:wght@300..900&family=Orbitron:wght@400..900&family=Rye&display=swap");

body {
  background-image: url("./assets/burger-black.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #360a0d;
}

.chooseUs {
  font-family: "Fjalla One";
}
.booking {
  font-family: "Rye";
}
.inter {
  font-family: "Inter";
}

.shadow-left-right {
  box-shadow: 8px 0 16px -4px rgba(0, 0, 0, 0.2),
    -8px 0 16px -4px rgba(0, 0, 0, 0.2);
}
.itemIncress {
  font-family: "Faster";
}
/* level css */
/* Inside your global CSS */
input[type="range"].slider-thumb-orange::-webkit-slider-thumb {
  appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 9999px;
  background-color: #f97316; /* Tailwind orange-500 */
  cursor: pointer;
  border: 2px solid white;
  margin-top: -8px;
}

input[type="range"].slider-thumb-orange {
  height: 6px;
  background-color: #fde68a; /* light bg like yellow-200 */
  border-radius: 9999px;
}

/* Loader css */
/* 🚚 Truck Move Animation */
@keyframes truckMove {
  0% {
    left: -60px;
  }
  100% {
    left: 100%;
  }
}
.animate-truck {
  animation: truckMove 3s linear infinite;
}
/* ✨ Fade-in for Main Component */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.6s ease-in forwards;
}
